<div class="Body" style="position:relative; margin-left: 40%; margin-right: 45%; margin-top: 10%; width: 50%;" >
    {{userPrompt}} <input type="text"  id="userName" name="userName"><br>
  {{passwordPrompt}} <input type="text" id="password" name="password"><br>
    </div>
  <div id="buttons" class="buttons" style="width:50%; margin:auto; text-align: center;padding-top:20px;">
    <button id ="EnterButton" style="margin-right: 10px; border: 3px ;padding: 10px;" name="EnterButton" type="Submit">Enter</button>
    <button id ="CancelButton" style="border: 3px ;padding: 10px;" name="CancelButton" type="Submit">Cancel</button>
  </div>
    
  
  